h2 {
	
	 padding-bottom: 25px;
	 padding-top: 25px;
	 padding-left: 25px;
	 color: #0A7D74;
}

h1 {
	
	
	 padding-top: 25px;
	 padding-left: 25px;
	 color: #025A2E;
}

td {
	
	font-size: 17px;
	padding-left: 25px;
}
	
label {
	padding-left: 15px;
	font-size: 20px;
	
}	

.tituloPronostico {
	
	padding-left: 0px;
}



	
