<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registrar/Editar Clima</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form th:action="@{/clima}" th:object="${climaDTO}" method="post">
		<h1>
			<th th:text="#{clima.listado}"></th>
		</h1>
		
		<table class="resultados" border="1" style="align-self: center;">
			<thead>
				<tr>
					<th><label th:text="#{clima.ciudad}"/></th>
					<th><label th:text="#{clima.estado}"/></th>
					<th><label th:text="#{clima.temp}"/></th>
					<th><label th:text="#{clima.porcentaje.humedad}"/></th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="clima : ${resultados}">
					<td th:text=${{clima.ciudad.nombre}}></td>
					<td th:text=${{clima.estado.estado}}></td>
					<td th:text=${{clima.temperatura}}></td>
					<td th:text=${{clima.porcentajeHumedad}}></td>
					<td>
						<a th:href="@{/climaEditar/{id}(id=${clima.id})}">
	                        editar
	                    </a>
                    </td>
				</tr>
			</tbody>
		</table>
		
		<h2>
			<th th:text="#{clima.registrar}"></th>
		</h2>
		
		<table border="0" style="align-self: center;">
			<!-- Selector de ciudad -->
			<tr>
	            <td>
	            	<label th:text="#{clima.ciudad}" />
            	</td>
	            <td>
			        <select th:field="*{idCiudad}">
					  <option th:each="ciudad : ${allCiudades}" 
					          th:value="${ciudad.id}" 
					          th:text="${ciudad.nombre}"></option>
					</select>
				</td>
				<td><p th:each="error : ${#fields.errors('global')}" th:text="${error}" style="color: red;"/></td>
				 
			</tr> 
			<!-- Estado -->
			<tr>
				<td><label th:text="#{clima.estado}" /></td>
				<td>
			        <select th:field="*{idEstado}">
					  <option th:each="estado : ${allEstados}" 
					          th:value="${estado.id}" 
					          th:text="${estado.estado}"></option>
					</select>
				</td>
				<td><p th:if="${#fields.hasErrors('idEstado')}" th:errorclass="error" th:errors="*{idEstado}" style="color: red;"/></td>
			</tr>
			<!-- Temperatura -->
			<tr>
				<td><label th:text="#{clima.temp}" /></td>
				<td><input type="number" th:field="*{temperatura}" /></td>
				<td><p th:if="${#fields.hasErrors('temperatura')}" th:errorclass="error" th:errors="*{temperatura}" style="color: red;"/></td> 
			</tr>
			<!-- Porcentaje de humedad -->
			<tr>
				<td><label th:text="#{clima.porcentaje.humedad}" /></td>
				<td><input type="number" th:field="*{porcentajeHumedad}" /></td>
				<td><p th:if="${#fields.hasErrors('porcentajeHumedad')}" th:errorclass="error" th:errors="*{porcentajeHumedad}" style="color: red;"/></td>
			</tr>
		</table>
		
		<!-- Botones -->
		<table class="botones">
			<tr>
				<td><input type="submit" name="action" value="Registrar"/></td>
				<td><input type="submit" name="action" value="Cancelar" /></td>
<!--				<td><input type="submit" name="action" value="Actualizar" /></td>
-->			</tr>
		</table>
		
	</form>
	
	
</body>
</html>