<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registrar Provincia</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />


<body>


	<h1>
		<th th:text="#{provincia.titulo}"></th>
	</h1>



	<form th:action="@{/provincia}" th:object="${provinciaDTO}" method="post">
		<table border="0" style="align-self: center;">

			<tr>
				<td><label th:text="#{provincia.nombre}" /></td>
				<td><input type="text" th:field="*{nombre}" /></td>
			</tr>

		</table>
		<table class="botones">

			<tr>
				<td><input type="submit" name="action" value="Aceptar" /></td>
				<td><input type="submit" name="action" value="Cancelar" /></td>
			</tr>

		</table>



	</form>